body {
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-center {
    text-align: center;
    width: 80%;
}

.container-billboard {
    width: 600px;
    text-align: left
}

.container-form {
    width: 150px;
    text-align: left
}

.container-form-buttons {
    width: 150px;
    text-align: center
}

.box {
    width: 150px;
    height: 300px;
    text-align: center;
    display: inline-block
}

.image {
    width: 120px;
    height: 200px;
}

.add-button {
    width: 63px;
    margin-top: 10px
}

.error {
    color: red
}

label {
    margin-top: 10px
}

.field {
}

.row {
    margin-top: 20px
}

.btn {
    border-radius: 10px;
    border: 1px solid #eee;
    font-size: 14px;
    padding: 6px 6px;
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

    .btn-default:active {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.text-field {
    border-radius: 10px;
    border: 1px solid #eee;
    transition: .3s border-color;
}

l

.text-field:hover {
    border: 1px solid #aaa;
}

/*.type-2 {
    background-color: #fafafa;
    border: 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
}

    .type-2:hover {
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
    }

.type-3 {
    border: 1px solid #111;
    transition: .3s background-color;
}

    .type-3:hover {
        background-color: #fafafa;
    }*/

modal-backgroung {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
}

body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

.modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index must be higher than .modal-background */
    z-index: 1000;
    /* enables scrolling for tall modals */
    overflow: auto;
}

.modal-body {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index must be higher than .modal-background */
    z-index: 1000;
    /* enables scrolling for tall modals */
    overflow: auto;
    padding: 20px;
    background: #fff;
    /* margin exposes part of the modal background */
    margin: 40px;
}

